option_settings:
  - namespace: aws:elasticbeanstalk:cloudwatch:logs
    option_name: StreamLogs
    value: true

files:
  "/etc/awslogs/config/customlogs.conf":
    mode: "000600"
    owner: root
    group: root
    content: |
      [debug.log]
      log_group_name=/dalbit/api
      log_stream_name=order
      file=/var/log/tomcat/catalina.out

commands:
  "01":
    command: chkconfig awslogs on
  "02":
    command: service awslogs restart
